@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("global.css");
*{
    font-family: "Heebo", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: white;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header li {
    margin-left: 20px;
    
}
header a:hover {
    color: #ff6363;
    
}

header a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: .3s all;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #f0f4f8;
}

footer .social-links a {
    margin: 0 10px;
}

footer p {
    font-size: 14px;
    color: #999;
    margin-top: 10px;
}
.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.about {
    margin-bottom: 40px;
}

.about h2 {
    color: #000000;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 40px;
    position: relative;
}
.about h2::after{
    content: "";
    width: 20%;
    height: 3px;
    background-image: linear-gradient(90deg, #FA5252 9.16%,  #DD2476 64.72%);;
    position: absolute;
    bottom: 50%;
    right: 62%;
}

.about p {
    color: #272727;
    line-height: 1.8;
    font-weight: 500;
}

.services {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 10%;
}

.service {
    max-width: 350px;
    background-color: #e8f0ff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.service h3 {
    color: #333;
    margin-bottom: 10px;
}

.service p {
    color: #666;
}

.clients {
    text-align: center;
    margin: 40px 0;
}

.client-logos img {
    width: 100px;
    margin: 0 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #aaa;
    font-size: 14px;
}
.languages {
    text-align: center;
    margin-bottom: 40px;
}

.languages h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.grid-item img {
    height: 80px;
    margin-bottom: 10px;
}

.grid-item p {
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;;
    color: #333;
}
@media screen and (max-width: 768px) {
    .about h2::after{
        display: none;
    }
}